.doces-info {
    background-color: #D9FFEB;

    padding-top: 5%;
}
.doces-info > h2 {
    text-align: center;
    color: #55868C;

    font-size: 24px;
    font-weight: 300;

    margin: 8% 0;

}


.doces-info-foto img {
    width: 50%;
    height: 55vh;
    object-fit: cover;
    object-position: center center;
}

@media screen and (max-width: 732px) {
    .doces-info img {
        height: 30vh;
    }

    .doces-info > h2 {
        font-size: 16px;
    }
}

@media screen and (max-width: 530px) {
    .doces-info img {
        height: 15vh;
    }

    .doces-info > h2 {
        font-size: 16px;
    }
}