main {
    position: relative;
}

.banner-img {
    background-image: url(/images/backgoundimage.jpg);
    background-size: cover;
}

.banner-img {
    height: 90vh;
    align-items: start;
    justify-content: center;

    padding: 5%;
}

.banner-img > h1 {
    font-size: 52px;

    width: 50%;
}

.banner-img > button {
    width: 25%;

    padding: 20px 0;

    font-size: 16px;
}

.melhores-bolos {
    /* margin: 10% 0; */
    min-height: 50vh;

    position: relative !important;
    box-shadow: 1px 0px 15px inset rgba(0, 0, 0, 0.548);
}
.melhores-bolos h2 {
    margin: 5% 0;
}
.melhores-bolos h2, p {
    z-index: 1;
}
.melhores-bolos > img {
    position: absolute;
    opacity: .6;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    object-fit: fill;
}

/*  imagens ---------   */
.fotos > figure { 
    height: 50vh;
}

.fotos > figure:nth-child(1), figure:nth-child(3) { 
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.fotos > figure > div { 
    background-color: #D9FFEB;
    color: #55868C;

    padding: 15px;

}


.fotos > figure p {
    font-size: 16px;
    font-weight: 400;
} 


@media screen and (max-width: 1260px) {
    /* banner */

    .banner-img {
        height: 85vh;
        padding: 3%;
        
        background-position: center;
    }

    .banner-img > h1 {
        font-size: 52px;
    
        width: 70%;
    }

    .banner-img > button {
        width: 30%;
    
        padding: 15px 0;
    }

    .fotos > figure p {
        font-size: 10px;
        font-weight: 400;
    } 
}

@media screen and (max-width: 950px) {
    .fotos > figure { 
        height: 40vh;
    }
    .melhores-bolos h2 {
        width: 100%;
        margin: 8%;
    }
}

@media screen and (max-width: 732px) {
    .banner-img {
        height: 70vh;
        padding: 3%;
        background-position: center;
    }

    .banner-img > h1 {
        font-size: 48px;
    
        width: 90%;
    }

    .banner-img > button {
        width: 50%;
        padding: 10px 0;
    }

    .fotos > figure > div {
        padding: 10px;
    }
}

@media screen and (max-width: 560px) {
    .banner-img {
        height: 50vh;
        padding: 3%;
        background-position: center;

        align-items: center;
    }

    .banner-img > h1 {
        font-size: 32px;
        text-align: center;
        width: 100%;
    }

    .banner-img > button {
        width: 70%;
        padding: 6px 0;

        font-size: 10px;
    }

    .fotos > figure { 
        height: 35vh;
    }

    .fotos > figure:nth-child(2), figure:nth-child(4) { 
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    
}
