main {
    position: relative;
}

.banner-img {
    background-color: #FFE9F3;

    width: 100%;
    display: flex;
    height: clamp( 85vh, 100%, 100vh);
    max-height: 100vh;
}

.hero-div {
    width: 50%;
    padding: clamp(15px, 4%, 200px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #FFE9F3;
    background-image: url(/images/pattern1.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.button-container {
    margin-bottom: clamp(200px, 30vh, 300px);
}

.button-container button {
    width: 15vw;
    border-radius: 10px;

    padding: 12px 0;

    font-size: 15px;
}

.banner-img img {
    width: 50%;
    object-fit: cover;
}

.banner-img div > h1 {
    font-size: clamp(26px, 4vw, 62px);
    color: #D4686E;
}


.banner-img div > p {
    font-size: clamp(16px, 2vw, 20px);
    color: #D4686E;
}

.button-container button:first-child {
    background-color: #D4686E;
    
    color: #fff;

    border: none;

    margin-right: 20px;
}
.button-container button:last-child {
    background-color: transparent;

    color: #D4686E;
    border: none;

    margin-right: 20px;
}

.imagem-separacao {
    background-image: url(/images/pattern1.png);
    background-position: bottom center;
    background-size: cover;
    width: 100%;
    height: 200px;
}

/* ---------- melhores bolos ---------------- */

.melhores-bolos {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
    width: 100%;

    /* box-shadow: 1px 0px 15px inset rgba(0, 0, 0, 0.548); */
    background-color: #D9FFEB;
}

#img-chocolate {
    background-image: url(/public/images/chocolate.jpg);
    background-repeat: repeat;
    width: 80%;
    height: 50vh;

    border-radius: 0 0 20px 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.548);
}

#img-chocolate2 {
    background-image: url(/images/chocolate.jpg);
    background-repeat: repeat;
    width: 80%;
    height: 30vh;

    border-radius: 20px 20px 0 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.548);
}

#text-melhores-bolos {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 90%;

    margin: 5vw 0;

    color: #356D78;
}

#text-melhores-bolos > h2 {
    font-size: clamp(20px, 4vw, 48px);
    text-align: center;

    width: 90%;
}
#text-melhores-bolos > p {
    font-size: clamp(12px, 2vw, 24px);
    margin-top: 1rem;

    text-align: center;

    width: 80%;
}

/* ---------- imagens ---------   */
.fotos > figure { 
    height: 50vh;
}

.fotos figure { 
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.fotos > figure > div { 
    background-color: #356D78;
    color: #D9FFEB;

    padding: 15px;

}


.fotos > figure p {
    font-size: 13px;
    font-weight: 400;
} 

/* --------------- */

.feedback {
    color: #D4686E;
    background-color: #FFE9F3;
    width: 100%;
    /* min-height: 100vh; */
    
}

.feedback > h2 {
    font-size: clamp(20px, 4vw, 48px);
    /* width: 90%; */
    text-align: center;
}

.feedback > p {
    font-size: clamp(12px, 2vw, 24px);
    
}
.feedback > div {
    font-size: clamp(12px, 2vw, 24px);
    color: #e6c63b;
}

.feedback-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;

    width: 100%;
    /* background-color: blue; */
}

.feedback-images div {
    /* flex: 0 0 ; */
    width: 20%;
    height: 15vw;
    min-width: 100px;
    background-image: url(/images/kitkat.jpg);
    background-size: cover;

    border-radius: 5px;
}
.vetorrosa {
    width: 100%;
    margin-top: -.6rem;

    position: absolute;
    z-index: 1;
}

.CTO {
    position: relative;

    min-height: 100vh;
    padding-top: 10vw;

    background-image: url(/images/fundo-bolinha.png);
    background-position: center center;
    background-size: cover;
}
.CTO > h2 {
    font-size: clamp(20px, 4vw, 48px);
    color: #356D78;

    margin-top: clamp(120px, 5vh, 500px);
}
@media screen and (max-width: 1260px) {
    /* banner */

    .banner-img .hero-div button {
        width: 40%;
    
    }

    /* --------------------------- */

    .fotos > figure p {
        font-size: 10px;
        font-weight: 400;
    } 

    /* -------- melhores bolos --------- */
    .melhores-bolos {
        min-height: 85vh;
    }

    .feedback {
        min-height: 50vh;
    }
    .CTO {
        min-height: 50vh;
    }
}

@media screen and (max-width: 950px) {
    .banner-img .hero-div h1 {
        /* font-size: 24px; */
    }
    .banner-img .hero-div p {
        /* font-size: 12px; */
    }

    .banner-img .hero-div button {
        width: 40%;
    
    }
    .hero-div .ver-bolos button {
        font-size: 12px;
        
    }

    .fotos > figure { 
        height: 40vh;
    }

    /*      melhores bolos        */
    #text-melhores-bolos > h2 {
    }
    #text-melhores-bolos > p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 732px) {
    .banner-img {
        flex-direction: column-reverse;
        justify-content: flex-start;
        max-height: none;

    }

    .hero-div{
        width: 100%;
        text-align: center;
    }

    .banner-img img {
        width: 100%;
        height: clamp( 50vh, 40vh, 100vh);
    }
    
    .hero-div {

    }

    .banner-img > h1 {
        /* font-size: 48px; */
        width: 100%;
    }

    .button-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        margin-top: clamp(55px, 8vh, 300px);
        margin-bottom: clamp(200px, 5vh, 300px);
    }
    .button-container button {
        font-size: 12px;
        margin-right: 0 !important;
        margin-bottom: 5%;
        width: 80% !important;
        padding: 15px 0;
    }

    #img-chocolate {
        width: 90%;
        height: 50vh;
    }
    
    #img-chocolate2 {
        width: 90%;
        height: 20vh;
    }

    .fotos > figure > div {
        padding: 10px;
    }
}

@media screen and (max-width: 560px) {

    .banner-img {
        width: 100%;
        min-height: 60vh;
        padding: 0;
        background-position: center;

        align-items: center;
    }

    .banner-img .hero-div h1 {
        margin: 3vw 0;
    }

    .banner-img .ver-bolos {
        display: flex;
        align-items: center;
    }

    .banner-img .ver-bolos button {
        width: 70%;
        padding: 10px 0;
    }

    .fotos > figure { 
        height: 35vh;
    }

    #text-melhores-bolos > p {
        margin-top: 1rem;
    }

    .feedback-images {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    
        width: 100%;
        padding: 0 5% 0 5%;
        /* background-color: blue; */
    }
    
    .feedback-images div {
        flex: 1 1 120px;
        width: 20%;
        height: 25vw;
        /* min-width: 120px; */
        
    }
    .CTO {
        position: relative;
    }
    .CTO button {
        padding: 10px 0 !important;
        width: 50%;
        margin-top: 15% !important;
        font-size: 12px;
    }
    
}
