main {
    position: relative;
}

.banner-img {
    background-color: #FFE9F3;
    background-size: cover;
}


.banner-img {
    display: flex;
    

    min-height: 100vh;
    padding: 0 0 3% 3%;
    
}

.hero-div {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.img-div {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;

}
.banner-img img {
    width: 100%;
    object-fit: cover;
}

.banner-img div > h1 {
    font-size: 48px;
}
.banner-img div > h1 > span {
    color: #D4686E;
}

.banner-img div > p {
    font-size: 20px;
}

.ver-bolos {
    width: 100%;
    display: flex;

    margin-top: 10%;
}

.banner-img .ver-bolos button {
    width: 30%;
    border-radius: 10px;

    padding: 12px 0;

    font-size: 15px;

}
.banner-img .ver-bolos button:first-child {
    background-color: #D4686E;
    
    color: #fff;

    border: none;

    margin-right: 20px;
}
.banner-img .ver-bolos button:last-child {
    background-color: transparent;

    color: #D4686E;
    border: 2px solid #D4686E;

    margin-right: 20px;
}

/* ---------- melhores bolos ---------------- */

.melhores-bolos {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
    width: 100%;

    /* box-shadow: 1px 0px 15px inset rgba(0, 0, 0, 0.548); */
    background-color: #D9FFEB;
}

#img-chocolate {
    background-image: url(images/chocolate.jpg);
    width: 80%;
    height: 50vh;

    border-radius: 0 0 20px 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.548);
}

#text-melhores-bolos {
    width: 80%;

    margin-top: 5vw;
}

#text-melhores-bolos span {
    color: #55868C;
}
#text-melhores-bolos > h2 {
    font-size: 3vw;
}
#text-melhores-bolos > p {
    color: #55868C;
    font-size: 1vw;
    margin-top: 1rem;
}

/* ---------- imagens ---------   */
.fotos > figure { 
    height: 50vh;
}

.fotos > figure:nth-child(1), figure:nth-child(3) { 
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.fotos > figure > div { 
    background-color: #D9FFEB;
    color: #55868C;

    padding: 15px;

}


.fotos > figure p {
    font-size: 16px;
    font-weight: 400;
} 


@media screen and (max-width: 1260px) {
    /* banner */

    .banner-img .hero-div h1 {
        font-size: 32px;
    }
    .banner-img div > p {
        font-size: 16px;
    }

    .banner-img .hero-div button {
        width: 40%;
    
    }

    /* --------------------------- */

    .fotos > figure p {
        font-size: 10px;
        font-weight: 400;
    } 

    /* -------- melhores bolos --------- */
    .melhores-bolos {
        min-height: 85vh;
    }


    #text-melhores-bolos > h2 {
        font-size: 3vw;
    }
    #text-melhores-bolos > p {
        color: #55868C;
        font-size: 1vw;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 950px) {
    .banner-img .hero-div h1 {
        font-size: 24px;
    }
    .banner-img .hero-div p {
        font-size: 12px;
    }

    .banner-img .hero-div button {
        width: 40%;
    
    }
    .hero-div .ver-bolos button {
        font-size: 12px;
        
    }

    .fotos > figure { 
        height: 40vh;
    }

    /*      melhores bolos        */
    #text-melhores-bolos > h2 {
        font-size: 5vw;
    }
    #text-melhores-bolos > p {
        color: #55868C;
        font-size: 2vw;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 732px) {
    .banner-img {
        flex-direction: column-reverse;
        justify-content: flex-end;

        width: 100%;

    }

    .hero-div, .img-div {
        width: 100%;
    }
    

    .banner-img > h1 {
        font-size: 48px;
    
        width: 90%;
    }

    .banner-img > button {
        width: 50%;
        padding: 10px 0;
    }

    .fotos > figure > div {
        padding: 10px;
    }
}

@media screen and (max-width: 560px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FFE9F3;
        /* background-image: url(images/fundo-rosa.jpg) */
    }

    .banner-img {
        width: 100%;
        min-height: 60vh;
        padding: 3% 0 3% 3%;
        background-position: center;

        align-items: center;
    }

    .banner-img .hero-div h1 {
        font-size: 6vw;
        margin: 3vw 0;
    }
    .banner-img .hero-div p {
        font-size: 3vw;

    }

    .banner-img .ver-bolos {
        display: flex;
        align-items: center;
    }

    .banner-img .ver-bolos button {
        width: 70%;
        padding: 10px 0;
        margin-bottom: 1rem;

        font-size: 10px;
    }

    .fotos > figure { 
        height: 35vh;
    }

    .fotos > figure:nth-child(2), figure:nth-child(4) { 
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .melhores-bolos {
        min-height: 50vh;
    }


    #text-melhores-bolos > h2 {
        font-size: 5vw;
    }
    #text-melhores-bolos > p {
        color: #55868C;
        font-size: 2.5vw;
        margin-top: 1rem;
    }
    
}
