.recheios > h2 {
    font-size: 48px;

    margin-top: 5%;
}
.recheios label {
    font-size: 18px;
}

@media screen and (max-width: 732px) {
    .recheios > h2 {
        font-size: 32px;
    
        margin-top: 5%;
    }
    .recheios label {
        font-size: 18px;
    }

}