.ham-menu span {
    height: 4px;
    width: 90%;
    position: absolute;
    background-color: rgb(41, 41, 41);
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1){
    top: 30%;
}
.ham-menu span:nth-child(3){
    top: 70%;
}
.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%)
    rotate(45deg);
}
.ham-menu.active span:nth-child(2){
    opacity: 0;
}
.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%)
    rotate(-45deg);
}

header {
    background-color: #fffffff1 !important;
    backdrop-filter: blur(5px) !important;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.144);
}


header div img {
    width: 80px;
}

@media screen and (max-width: 1260px) {
    header div img {
        width: 60px;
    }
}

@media screen and (max-width: 530px) {
    header div img {
        width: 50px;
    }
}
